.header {
  display: flex;
  align-items: center;
  background: #b3deed;
  padding: 1rem 5rem;
  color: white;
  margin-bottom: 63px;
}

.logo {
  height: 52px;
}

.nav {
  margin-left: auto;
  width: 30%;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
